body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(210, 35%, 35%);
}

#saveTasks {
    margin-left: 3em;
}

.taskDiv {
    margin-top: 2em;
    margin-left: 30%;
    width: 40%;
    text-align: left;
}

li {
    display: flex;
    justify-content: flex-start;
    gap: 3px;
}

li span.taskName {
    margin-right: 10px;
}

li button {
    background-color: inherit;
    border: none;
}

.priorityHigh {
    color: red;
}

.priorityModerate {
    color: orange;
}

.priorityLow {
    color: yellow;
}

.done {
    text-decoration-line: line-through;
}

.boxed {
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.button {
    padding: 3px 10px;
}