body {
    font-family: 'Merriweather', serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2D465E;
}

main {
    text-align: center;
}

.addTaskDiv {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1em;
}

#textField {
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;

}

#inputFields {
    display: flex;
    gap: .5em;
}

#deadlineInputs {
    display: inline-flex;
    gap: .5em;
}

#inputButtons {
    display: inline-flex;
    gap: .5em;
}

#saveTasks {
    margin-left: 3em;
}

#taskContainer {
    max-width: 50%;
    padding: 0;
    justify-content: flex-end;
}

.taskDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2em;

}

li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 3em;
    max-height: 7em;
    padding: 5px 10px;
    margin-bottom: 5px;
    gap: 1em;
    background-color: #729BC4;
    border-radius: 10px/15px;
}

li div {
    margin-right: auto;
    overflow-wrap: break-word;
    width: 70%;
    text-align: left;
}

.divDate {
    padding: 1em;
}

.titleDate {
    font-size: 2em;
    color: aliceblue;
    text-shadow: 2px 1px 1px #000, 2px 1px 1px #000;
    padding: 0;
    margin: 0;
}


.taskName {
    font-size: 1.2em;
}

.priorityHigh {
    background-color: #E64E44;
}

.priorityModerate {
    background-color: #FC853F;
}

.priorityLow {
    background-color: #E8BA25;
}

.done {
    opacity: 70%;
    box-shadow: 0 0 1px 3px inset #3ec71f;
}

.doneButton {
    font-size: 1.5em;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid #404454;
}

.doneButtonToDo {
    background-color: #A1ACD4;
}

.doneButtonDone {
    background-color: #3ec71f;
    border-color: #1c590d;
}

.taskdelete {
    height: 40px;
    width: 40px;
    background-color: #A1ACD4;
    border-style: solid;
    border-width: 2px;
    border-left-color: #c7ceea;
    border-top-color: #c7ceea;
    border-right-color: #404454;
    border-bottom-color: #404454;
    border-radius: 5px;
}

.taskdelete img {
    width: 1.5em;
    height: 1.5em;
}

.boxed {
    box-sizing: border-box;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.button {
    padding: 3px 10px;
}

h1 {
    font-size: 3em;
    color: aliceblue;
    text-shadow: 3px 2px 1px #000, 3px 2px 1px #000;
}


@media only screen and (max-width: 1400px) {
    #taskContainer {
        max-width: 60%;
    }
}

@media only screen and (max-width: 1200px) {
    #taskContainer {
        max-width: 70%;
    }
}

@media only screen and (max-width: 1200px) {
    #taskContainer {
        max-width: 80%;
    }
}



@media only screen and (max-width: 800px) {
    body {
        font-size: 70%;
    }

    .addTaskDiv {
        flex-direction: column;
        justify-content: center;
    }

    #inputFields {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .5em;
    }

    #textField {
        align-self: center;
        width: 80%;
    }

    #deadlineInputs {
        justify-content: space-between;
        width: 80%;
    }

    #taskContainer {
        width: 80%;
    }

    #inputButtons {
        width: 80%;
        align-self: center;
        justify-content: flex-end;
        gap: 1em;
    }

    .doneButton {
        font-size: 1.5em;
        height: 30px;
        width: 30px;
        border-radius: 15px;
    }

    .taskdelete {
        height: 30px;
        width: 30px;
        border-radius: 4px;
    }

}

@media only screen and (max-width: 450px) {
    body {
        font-size: 60%;
    }

    #textField {
        width: 90%;
    }

    #deadlineInputs {
        width: 90%;
    }

    #taskContainer {
        width: 90%;
    }

    #inputButtons {
        width: 90%;
    }

    #taskContainer {
        max-width: 90%;
    }
}